html {
    background-color: #ECEFF1;
}

body {
    margin: 0;
    background-color: #B0BEC5;
}

.nooverflow {
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.header {
    background-color: #B0BEC5;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    float: left;
    width: 100%;
}

.name {
    font-weight: 500;
    margin: 0 auto;
    margin-left: 10px;
    font-size: 6em;
}

.des {
    font-style: italic;
    margin: 0 auto;
    margin-left: 16px;
    margin-top: -25px;
    font-size: 2em;
}

.contact {
    font-style: italic;
    margin: 0 auto;
    margin-left: 16px;
    margin-top: -5px;
    font-size: 1.5em;
}

img[alt="facebook"] {
    width: 90px;
}

img[alt="headtwitter"] {
    width: 90px;
}

img[alt="headgithub"] {
    width: 90px;
}

img[alt="linkedin"] {
    width: 90px;
}

.socialmedia {
    margin-top: -180px;
    margin-right: 10px;
    margin-bottom: 115px;
}

.squared {
    margin: 4px;
    float: right;
}

.navigation {
    margin: 0 auto;
    clear: left;
}

.content {
    background-color: #ECEFF1;
    margin: 0 auto;
    clear: both;
    vertical-align: top;
    display: block;
}

.tab-content {
    clear: both;
    display: inline-block;
}

.nav {
    font-size: 20px;
}

ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img[alt="lowpoly"] {
    border-radius: 50%;
    width: 300px;
    float: left;
    margin: 25px;
    margin-top: -1px;
}

.aboutmebox h1 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    margin-left: 25px;
    margin-top: 10px;
}

.aboutmebox p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.9em;
    padding-right: 25px;
    margin-left: 25px;
}

.lowpolyfaceproj {
    margin-top: 150px;
}

.trenddungeonproj {
    margin-top: 150px;
}

.projectsbox h1 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    margin-left: 25px;
    margin-top: 10px;
}

.projectsbox h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}

.projectsbox p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.video {
    margin: 20px;
}

img[alt="nmixicon"] {
    border-radius: 50%;
    width: 300px;
    float: left;
    margin: 25px;
    margin-top: -1px;
}

img[alt="homescreenicon"] {
    border-radius: 50%;
    width: 300px;
    float: left;
    margin: 25px;
    margin-top: -1px;
}

img[alt="lowpolyface"] {
    border-radius: 50%;
    width: 300px;
    float: left;
    margin: 25px;
    margin-top: -1px;
}

img[alt="trenddungeon"] {
    border-radius: 50%;
    width: 300px;
    float: left;
    margin: 25px;
    margin-top: -1px;
}

img[alt="github"] {
    border-radius: 50%;
    width: 75px;
    float: left;
    margin-right: 20px;
    margin-top: -1px;
}

img[alt="twitter"] {
    border-radius: 50%;
    width: 75px;
    float: left;
    margin: 10px;
    margin-top: -1px;
}

.resumebox h1 {
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    margin-left: 25px;
    margin-top: 10px;
    position: relative;
}

img[alt="pdf"] {
    width: 70px;
    position: relative;
    margin-top: -90px;
    margin-left: 265px;
}

.resumebox h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3em;
    margin-left: 25px;
    margin-top: -10px;
}

.resumebox h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-left: 50px;
}

.resumebox p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    margin-left: 75px;
    padding-right: 25px;
}

p.extrapad {
    padding-left: 25px;
}

hr {
    border: 0px solid red;
    background-color: red;
    color: red;
    border-color: red;
    clear: both;
}

.bucketlist {
    width: 100%;
    margin: 0 auto;
    background-color: #ECEFF1;
    font-family: 'Raleway', sans-serif;
    float: left;
    padding-bottom: 25px;
    /*align-content: center;*/
    padding-left: 25px;
    padding-right: 25px;
}

.bucketlist h2 {
    /*text-align: center;*/
    font-size: 3em;
}

.buckettable {
    align-content: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.buckettable td {
    vertical-align: text-top;
    width: 33%;
    padding-bottom: 12px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.5em;
}

.uncheckbox {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid black;
    width: .7em;
    height: .7em;
    margin-right: .3em;
    margin-left: .25em;
}


.checkedbox {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid #AAA;
    width: .7em;
    height: .7em;
    margin-right: .3em;
    margin-left: .25em;
    background-color: #536DFE;
}

.checkedbox::before {
    position: absolute;
    left: .5px;
    bottom: -9px;
    font-size: 25px;
    font-weight: 700;
    content: "\00d7";
    color: #212121;
}

.nowrap {
    white-space: nowrap;
    display: inline;
}

.footer {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    float: left;
    background-color: #ECEFF1;
}

img[alt="html"] {
    width: 175px;
    float: left;
}

img[alt="css"] {
    align-self: center;
    width: 125px;
    margin-left: 40px;
}

img[alt="bootstrap"] {
    width: 175px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
}
